
main {
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 40px;
    margin-right: 40px;

}
  
  section {
    margin: 120px 0;
  }
  
  h2 {
    font-size: 15px;
    text-transform: lowercase;
    margin-bottom: 20px;
  }
  
  pre {
    font-size: 15px;
    line-height: 2;
  }

  .item {
    margin: 15px 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
  }
  
  #tooltip {
    position: absolute;
    background: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    pointer-events: none;
    z-index: 1000;
  }

  .intro {
    text-align: center;
    padding: 20px;
    font-family: 'Space Grotesk', monospace;
  }
  
  .info-line {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 2;
  }
  
  .label, .value {
    white-space: nowrap;
  }
  

  /* 기본 PC용 스타일 */

/* 모바일 화면용 스타일 (최대 768px) */
@media (max-width: 768px) {
  /* 예: 메뉴 작게, 글자 줄이기, 레이아웃 쌓기 */
  ul {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }

  .menu a {
    padding: 6px 10px;
    font-size: 14px;
  }

  img {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 90%;
  }

  .project-section {
    height: 70vh;
    background-position: center;
  }
             
  .info-line {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .label, .value {
    display: block;
  }


  .overlay h1 {
    font-size: 24px;
  }

  .overlay p {
    font-size: 14px;
  }

  .project-detail {
    padding: 20px 10px;
  }

}