
.project-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.4s ease;
}
  
  
  
  
  .project-section:hover .overlay {
    opacity: 1;
  }
  
  .overlay h1 {
    font-size: 48px;
    margin: 0 0 10px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: scale(1.5);
    opacity: 0;
    color: white;
  }
  
  .overlay p {
    font-size: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
    color: white;
  }
  
  /* 텍스트 등장 애니메이션 */
  .project-section:hover .overlay h1,
  .project-section:hover .overlay p {
    transform: scale(1);
    opacity: 1;
  }

  .project-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  /* 기본 PC용 스타일 */

/* 모바일 화면용 스타일 (최대 768px) */
@media (max-width: 768px) {
  /* 예: 메뉴 작게, 글자 줄이기, 레이아웃 쌓기 */
  ul {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }

  .menu a {
    padding: 6px 10px;
    font-size: 14px;
  }


   .project-section {
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .overlay {
      position: static; 
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      text-align: center;
    }

  .overlay h1 {
    transform: none;
    font-size: 24px;
  }

  .overlay p {
    font-size: 14px;
  }


  .back {
    position: static;
    display: block;
    margin: 20px 0;
    text-align: left;
  }
}